target/META-INF/mule-src/myapi/src/main/mule/myapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="acc48f1b-9cd2-4572-a175-af6804e33629" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4088dd9d-b633-4f87-aca3-009e9bc38607" basePath="/api/" >
		<http:request-connection host="localhost:8081" />
	</http:request-config>
	<flow name="myapiFlow" doc:id="1dfb19d4-f843-4fe4-b81f-0d66fda51b51" >
		<http:listener doc:name="Listener" doc:id="f555d0bd-f500-4728-8a77-a0288e00a562" config-ref="HTTP_Listener_config" path="/path"/>
		<set-payload value='#[%dw 2.0
output application/json
---
{
    
    "Gender__c": "Male",
    "Product__c": "Nighty",
    "Phone_Number__c": "",
    "Name": "elham",
    "Address__c": "Ethiopia",
    "Email__c": "",
    "Payment_mode__c": "Birr",
    "Quantity__c": "5.0"
  }]' doc:name="Set Payload" doc:id="e9d1d781-a06a-4c1d-a188-22218fad4714" />
	</flow>
</mule>
